div.form-wrap .offline-header h1 {
    font-size: 1.5rem !important;
    letter-spacing: -0.02em;
    margin: 0;
}
.banner-wrap .slogan p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    line-height: 2.5rem;
}
div.form-wrap #form-login #submit-buton input.button {
    background-color: #1d2655;
    color: #fff;
    width: 100%;
}
.t4-megamenu.animate.slide .dropdown>.dropdown-menu {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 20px !important;
}
.chosen-container-single .chosen-drop {
    margin-top: 10px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.logo-image img {
    max-width: 100%;
    height: 100px;
}