<!-- HEADER 1 -->
<header class="header-block-1 w-100">
  <div class="container-fluid">
    <div class="header-wrap collapse-static">
      <div class="row header-inner">
        <div class="header-logo col-1 col-md-1 col-xl-1 col-xxl-1 d-flex align-items-center">
          <jdoc:include type="element" name="logo" />

          <div class="d-none d-xxl-flex">
            <jdoc:include type="modules" name="header-search" style="raw" />
          </div>
        </div>

        <div class="header-nav col-11 col-md-11 col-xl-11 col-xxl-11 d-flex justify-content-end align-items-center collapse-static">
          <jdoc:include type="element" name="megamenu" />
          <jdoc:include type="modules" name="header-right" style="JAxhtml" />
          <jdoc:include type="element" name="megamenu-toggle" />
          <jdoc:include type="element" name="offcanvas-toggle" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER 1 -->