<!-- HEADER 1 -->
<header class="header-block-1 w-100">
  <div class="container-fluid">
    <div class="header-wrap collapse-static">
      <div class="row header-inner">
        <div class="header-logo col-2 col-md-2 col-xl-2 col-xxl-3 d-flex align-items-center">
          <jdoc:include type="element" name="logo" />

          <div class="d-none d-xxl-flex">
            <jdoc:include type="modules" name="header-search" style="raw" />
          </div>
        </div>

        <div class="header-nav col-10 col-md-10 col-xl-10 col-xxl-9 d-flex justify-content-end align-items-center collapse-static">
          <jdoc:include type="element" name="megamenu" />
          <jdoc:include type="modules" name="header-right" style="JAxhtml" />
          <jdoc:include type="element" name="megamenu-toggle" />
          <jdoc:include type="element" name="offcanvas-toggle" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER 1 -->